.cg-board-wrap {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHZpZXdCb3g9IjAgMCA4MDAgODAwIj4NCjxnIGlkPSJicm93bi1ib2FyZCI+DQo8ZyBpZD0iTGlnaHQiIGZpbGw9IiNkZWUzZTYiPg0KPHJlY3Qgd2lkdGg9IjgwMCIgaGVpZ2h0PSI4MDAiLz4NCjwvZz4NCjxnIGlkPSJGcmFtZSIgZmlsbD0ibm9uZSI+DQo8cmVjdCB3aWR0aD0iODAwIiBoZWlnaHQ9IjgwMCIvPg0KPC9nPg0KPGcgaWQ9IkRhcmsiIGZpbGw9IiM4Y2EyYWQiPg0KPGcgaWQ9InJheiI+DQo8ZyBpZD0iZHZhIj4NCjxnIGlkPSJ0cmkiPg0KPHJlY3QgeD0iMTAwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPg0KPHJlY3QgeD0iMzAwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPg0KPHJlY3QgeD0iNTAwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPg0KPHJlY3QgeD0iNzAwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPg0KPC9nPg0KPHVzZSB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMTAwLDEwMCkiIHhsaW5rOmhyZWY9IiN0cmkiLz4NCjwvZz4NCjx1c2UgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCwyMDApIiB4bGluazpocmVmPSIjZHZhIi8+DQo8L2c+DQo8dXNlIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAsNDAwKSIgeGxpbms6aHJlZj0iI3JheiIvPg0KPC9nPg0KPC9nPg0KPC9zdmc+');
}

cg-board piece.pawn.white {
    background-image: url('themes/neo/white-pawn.webp');
}

cg-board piece.bishop.white {
    background-image: url('themes/neo/white-bishop.webp');
}

cg-board piece.knight.white {
    background-image: url('themes/neo/white-knight.webp');
}

cg-board piece.rook.white {
    background-image: url('themes/neo/white-rook.webp');
}

cg-board piece.queen.white {
    background-image: url('themes/neo/white-queen.webp');
}

cg-board piece.king.white {
    background-image: url('themes/neo/white-king.webp');
}

cg-board piece.pawn.black {
    background-image: url('themes/neo/black-pawn.webp');
}

cg-board piece.bishop.black {
    background-image: url('themes/neo/black-bishop.webp');
}

cg-board piece.knight.black {
    background-image: url('themes/neo/black-knight.webp');
}

cg-board piece.rook.black {
    background-image: url('themes/neo/black-rook.webp');
}

cg-board piece.queen.black {
    background-image: url('themes/neo/black-queen.webp');
}

cg-board piece.king.black {
    background-image: url('themes/neo/black-king.webp');
}